/* Começo globais */

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #021b33;
}

.container {
    width: 80%;
    display: flex;

}

/* Fim globais */

/* Começo header/navbar */

.header {
    display: flex;
    justify-content: center;
    border-bottom: #D7263D solid 2px;
    border-bottom-left-radius: 300px;
    background-color: #010e1a;
}

.header img {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header .container {
    align-items: center;
    justify-content: space-between;
    width: 90vw;

}

.header .titulo {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.header .titulo h1 {
    margin: 0;
    color: #D7263D;
}

.header .urls {
    width: 270px;
}

.header .urls ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.header .urls a {
    color: white;
    text-decoration: none;
}

.header .urls #aqui {
    color: #D7263D;
    font-weight: bold;
}

/* Fim header */

/* Começo home */

.bg_header {
    background-color: #010e1a;
}

.home {
    height: calc(100vh - 72px);
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(imagens/shopping_bg.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .container {
    justify-content: center;
    align-items: center;

}

.home .banner {
    background-color: rgb(1, 14, 26, .95);
    height: 300px;
    width: 260px;
    align-items: center;
    display: flex;
    border-top: 3px solid #D7263D;
    border-top-right-radius: 40px;
    border-bottom: 3px solid #D7263D;
    border-bottom-left-radius: 40px;
}

.home .banner p {
    padding: 15px;
    color: white;
    font-size: 38px;
    margin: 0;
}

.home .banner p span {
    color: #D7263D;
    font-weight: bold;
}

/* Fim home */

/* Começo boxes */

.boxes {
    display: flex;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

.boxes .container {
    justify-content: space-evenly;
    background-color: rgb(235, 235, 235);
}

.boxes .box {
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: #021b33;
    height: 300px;
    width: 25%;
    color: white;
    border: 3px solid #D7263D;
    border-radius: 25px 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.boxes .box img {
    height: 100px;
}

.boxes .box h4 {
    font-size: 20px;
    margin: 0;
}

.boxes .box p {
    font-size: 15px;
    padding: 10px;
    margin: 0;
}

.destaque {
    font-weight: bold;
    color: red;
}

/* Fim boxes */

/* Começo login */

.login {
    height: calc(100vh - 72px);
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(imagens/login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login .container {
    justify-content: center;
    align-items: center;
}

.login .banner {
    background-color: rgb(1, 14, 26, .95);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: min-content;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    border-top: 3px solid #D7263D;
    border-top-right-radius: 30px;
    border-bottom: 3px solid #D7263D;
    border-bottom-left-radius: 30px;
    font-size: 22px;
}

.msg_validacao {
    color: red;
    font-size: 60%;

}

.label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    font-size: 20px;
}

input {
    background-color: #021b33;
    padding: 9px;
    font-size: 15px;
    border: none;
    width: 250px;
    border-radius: 10px;
    margin-top: 5px;
    color: white;
}

.login a {
    font-size: 13px;
    color: white;
}

button {
    border: none;
    margin-top: 15px;
    font-size: 18px;
    background-color: #023f79;
    color: white;
    width: 110px;
    height: 35px;
    border-radius: 5px;
}

.login img {
    height: 70px;
}

/* Fim login */

/* Começo Simulador */

.simulador {

    height: calc(100vh - 72px);
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(imagens/lucro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.simulador .container {
    justify-content: center;
    align-items: center;
}

.simulador .banner {
    background-color: rgb(1, 14, 26, .95);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 520px;
    border-top: 3px solid #D7263D;
    border-top-right-radius: 30px;
    border-bottom: 3px solid #D7263D;
    border-bottom-left-radius: 30px;
    font-size: 22px;
}

.simulador hr {
    width: 90%;
    border: 1px solid #D7263D;
}

.simulador button {
    margin: 0;
}

.simulador #result {
    width: 90%;
    height: 150px;
    font-size: 16px;
}

/* Fim Simulador */

/* Começo da Dashboard */
.dash {
    display: flex;
    background-color: #021b33;
    align-items: center;
    height: 100vh;
}

.grafico {
    width: 75vw;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chart {
    position: relative;
    height: 50vh;
    width: 50vw;
    display: none;
}

.fold {
    background-color: #082845;
    width: 20vw;
    height: 100%;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.fotochart {
    margin-left: auto;
    margin-right: auto;
}

.texts {
    color: white;
    font-size: 30px;
    margin: 0;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fold button {
    width: 90%;
    height: 50px;
    font-size: 20px;
    text-align: left;
    padding-left: 10%;
    border-radius: 1px;
    margin-top: 10px;
    background-color: transparent;
}

.fold .voltar {
    text-align: right;
    position: fixed;
    width: 16vw;
    bottom: 20px;
}

.voltar a {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.botao {
    height: 30px;
    width: 100px;
    border-radius: 20px;
    font-size: smaller;
    cursor: pointer;
}

.kpis {
    display: flex;
    flex-direction: row;
    width: 50vw;
    align-items: center;
    justify-content: space-evenly;
}

.kpi {
    width: 100px;
    height: 100px;
    border: solid 3px #D7263D;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 10px;
}

.nmr {
    font-size: 25px;
    color: white;
}

.title {
    font-size: 15px;
    color: white;
    margin: 5px;
    width: min-content;
    align-self: center;
    text-align: center;
}

/* Começo footerbar */

.footerbar {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: white;
    border-top: 3px solid #D7263D;
    border-top-right-radius: 300px;
    background-color: #010e1a;

}

/* Fim footerbar */

.btnEntrar {
    cursor: pointer;
    width: 200px;
}

.escolheGrafico {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    margin-bottom: 20px;
}