/* Começo globais */

.corpo_i {
    background-color: #EBEBEB;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #021b33;
}

.container {
    width: 80%;
    display: flex;

}

/* Fim globais */

/* Começo header/navbar */

.header {
    display: flex;
    justify-content: center;
    border-bottom: #D7263D solid 2px;
    border-bottom-left-radius: 300px;
    background-color: #010e1a;
}

.header img {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header .container {
    align-items: center;
    justify-content: space-between;
    width: 90vw;

}

.header .titulo {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.header .titulo h1 {
    margin: 0;
    color: #D7263D;
}

.header .urls {
    width: 270px;
}

.header .urls ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.header .urls a {
    color: white;
    text-decoration: none;
}

.header .urls #aqui {
    color: #D7263D;
    font-weight: bold;
}

/* Fim header */

/* Começo home */

.bg_header {
    background-color: #010e1a;
}

.home {
    height: calc(100vh - 72px);
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(imagens/shopping_bg.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .container {
    justify-content: center;
    align-items: center;

}

.home .banner {
    background-color: rgb(1, 14, 26, .95);
    height: 300px;
    width: 260px;
    align-items: center;
    display: flex;
    border-top: 3px solid #D7263D;
    border-top-right-radius: 40px;
    border-bottom: 3px solid #D7263D;
    border-bottom-left-radius: 40px;
}

.home .banner p {
    padding: 15px;
    color: white;
    font-size: 38px;
    margin: 0;
}

.home .banner p span {
    color: #D7263D;
    font-weight: bold;
}

/* Fim home */

/* Começo boxes */

.boxes {
    display: flex;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

.boxes .container {
    justify-content: space-evenly;
    background-color: rgb(235, 235, 235);
}

.boxes .box {
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: #021b33;
    height: 300px;
    width: 25%;
    color: white;
    border: 3px solid #D7263D;
    border-radius: 25px 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.boxes .box img {
    height: 100px;
}

.boxes .box h4 {
    font-size: 20px;
    margin: 0;
}

.boxes .box p {
    font-size: 15px;
    padding: 10px;
    margin: 0;
}

.destaque {
    font-weight: bold;
    color: red;
}

/* Fim boxes */

/* Começo login */

.login {
    height: calc(100vh - 72px);
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(imagens/login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login .container {
    justify-content: center;
    align-items: center;
}

.login .banner {
    background-color: rgb(1, 14, 26, .95);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: min-content;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    border-top: 3px solid #D7263D;
    border-top-right-radius: 30px;
    border-bottom: 3px solid #D7263D;
    border-bottom-left-radius: 30px;
    font-size: 22px;
}

.msg_validacao {
    color: red;
    font-size: 60%;
    text-align: center;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    font-size: 20px;
}

input {
    background-color: #021b33;
    padding: 9px;
    font-size: 15px;
    border: none;
    width: 250px;
    border-radius: 10px;
    margin-top: 5px;
    color: white;
}

.login a {
    font-size: 13px;
    color: white;
}

button {
    border: none;
    margin-top: 15px;
    font-size: 18px;
    background-color: #023f79;
    color: white;
    width: 110px;
    height: 35px;
    border-radius: 5px;
}

.login img {
    height: 70px;
}

/* Fim login */

/* Começo Simulador */

.simulador {

    height: calc(100vh - 72px);
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(imagens/lucro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.simulador .container {
    justify-content: center;
    align-items: center;
}

.simulador .banner {
    background-color: rgb(1, 14, 26, .95);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 520px;
    border-top: 3px solid #D7263D;
    border-top-right-radius: 30px;
    border-bottom: 3px solid #D7263D;
    border-bottom-left-radius: 30px;
    font-size: 22px;
}

.simulador hr {
    width: 90%;
    border: 1px solid #D7263D;
}

.simulador button {
    margin: 0;
}

.simulador #result {
    width: 90%;
    height: 150px;
    font-size: 16px;
}

/* Fim Simulador */

/* Começo da Dashboard */

.dash {
    display: flex;
    background-color: #021b33;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    width: 100%;
}

.grafico {
    margin-left: 250px;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chart {
    position: relative;
    height: 50vh;
    width: 50vw;
    display: none;
}

.fold_mask {
    width: 250px;
    height: 100%;
}

.fold {
    background-color: #082845;
    width: 250px;
    height: 100%;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
}

.fotochart {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    width: 100%;
}

.titulo_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 12vh;
    width: 95%;
}

.texts {
    color: white;
    font-size: 25px;
    margin: 0;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.usuario_nav {
    height: 8vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #D7263D 2px solid;
}

.botoes_nav {
    width: 90%;
    height: 68vh;
    border-bottom: #D7263D 2px solid;
    border-top: #D7263D 2px solid;
}

.botoes_nav button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: left;
    padding-left: 10%;
    border-radius: 1px;
    margin-top: 10px;
    background-color: transparent;
}

.opcoes_nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 80%;
    height: 12vh;
}

.opcoes_nav a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    width: fit-content;
}

.botao {
    height: 30px;
    width: 100px;
    border-radius: 20px;
    font-size: smaller;
    cursor: pointer;
}

.kpis {
    display: flex;
    flex-direction: row;
    width: 50vw;
    align-items: center;
    justify-content: space-evenly;
}

.kpi {
    width: 100px;
    height: 100px;
    border: solid 3px #D7263D;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 10px;
}

.nmr {
    font-size: 25px;
    color: white;
}

.title {
    font-size: 15px;
    color: white;
    margin: 5px;
    width: min-content;
    align-self: center;
    text-align: center;
}

.btnEntrar {
    cursor: pointer;
    width: 200px;
}

.escolheGrafico {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    margin-bottom: 20px;
}

.chamado {
    margin-left: 40%;
    display: none;
    height: 70%;
    width: 30%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.frame {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: #D71B22 2px solid;
    height: 100%;
    width: 100%;
}

/* Fim Dashboard */

/* Começo Configurações */

#botaoselecionado {
    border-bottom: solid 3px #D71B22;
    font-weight: bold;
    background-color: #023f79;
}

.corpo_config {
    margin-left: 280px;
    height: 95%;
    color: white;
}

.tab_info {
    margin-left: 30px;
    font-size: 25px;
}

.tab_info td {
    width: 320px;
}

.tab_info input {
    background-color: #023f79;
    font-size: 25px;
    width: 300px;
}

.botao_config {
    width: 100%;
    display: flex;
    justify-content: right;
}

.botao_config button {
    font-size: 20px;
    color: black;
    background-color: #8fabe7;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
}

.senha {
    display: flex;
    align-items: center;
}

.senha button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    margin-left: -35px;
    margin-top: 10px;
    width: fit-content;
    cursor: pointer;
    border-radius: 0;
}

.tab_info select {
    background-color: #023f79;
    font-size: 25px;
    width: 99%;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 7px;
    margin-top: 5px;
}

.funcionario {
    height: 92%;
    color: white;
    display: flex;
    width: 900px;
    flex-direction: column;
    margin-left: 30px;
}

.lista {
    background-color: #8fabe7;
    border-radius: 5px;
    color: black;
}

.lista ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.lista_head li {
    width: 225px;
    margin-left: 10px;
    font-weight: bold;
}

.lista_item {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #c6c7ff;
    border-radius: 0px 0px 5px 5px;
    flex-direction: row;
}

.lista_campo {
    display: flex;
    margin-left: 10px;
}

.lista_campo li {
    width: 225px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.botoes_lista {
    display: flex;
    width: 215px;
    justify-content: space-evenly;
}

.botoes_lista button {
    border: none;
    margin-top: 0;
    font-size: 18px;
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.excluir {
    background-color: #D7263D;
}

.busca {
    display: flex;
    flex-direction: row;
}

.busca button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    margin-left: -35px;
    margin-top: 5px;
    width: fit-content;
    cursor: pointer;
    border-radius: 0;
}

.busca input {
    background-color: transparent;
    padding: 10px;
    margin: 0;
    margin-top: 0;
    width: fit-content;
    cursor: pointer;
    border-radius: 0;
    color: black;
}

.lista_head {
    font-size: 20px;
}

.lista_head li {
    display: flex;
    align-items: center;
}


/* Fim Configurações */

/* Começo footerbar */

.footerbar {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: white;
    border-top: 3px solid #D7263D;
    border-top-right-radius: 300px;
    background-color: #010e1a;
}

/* Fim footerbar */